* {
  box-sizing: border-box;
  text-align: center;
}
body {
  font-size: 24px;
  line-height: 32px;
  background: #777;
  width: 960px
}
header {
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background: #ffffff;
}
nav {
  padding: 20px;
  margin-bottom: -10px;
  color: #777;
  background: #ffffff;
}
aside {
	background: #ffffff;
	color: #777;
	width: 40%;
	float: right;
	margin: 25px;
	height: 200px;
}
section {
	background: #ffffff;
	color: #808080;
	width: 40%;
	float: left;
	margin: 25px;
	height: 200px;

}
.article {
	background-color: #808080;
  color: #ffffff;
  margin: 20px;
  width: 345px;
  height: 135px;
}
.h1h2h3 {
    background-color: #ffffff;
    color: #808080;
    width: 335px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    position: relative;
}
 .p {
    background-color: #ffffff;
    color: #808080;
    width: 335px;
    height: 30px;
    margin: -35px;
    margin-left: 5px;
    margin-top: -25px;
}


footer {
  padding: 20px;
  margin-bottom: -10px;
  color: #808080;
  clear: both;
  background: #ffffff;
}
